*{
    margin: 0;
    padding: 0;
    color:black;
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
    box-sizing: border-box;
}
#heading{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: bold;
}
.container-fluid{
    padding: 10px;
    border: 1px solid red;
    overflow: hidden;
}
.row{
    padding: 10px;
    border: 1px solid blue;
    box-sizing: border-box;
}
/* first table design starts here*/
#one, #two, #three{
    margin: 0px;
    padding: 0;
    border: 1px solid black;
    background-color: grey;
}

#one-span, #two-span, #three-span{
    border: 1px solid black;
    float: right;
}
p{
    padding: 15px;
    clear: both;
    text-align: justify;
}
#one-span{
    width: 30%;
    background-color: pink;
    text-align: center;
} 
#two-span{
    width: 30%;
    background-color: #dd1717;
    text-align: center;} 
#three-span{
    width: 30%;
    background-color: beige;
    text-align: center;}


/* @media (max-width:767px)
{
    
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

} */

